@charset "UTF-8";
html, body{
	padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.row .col {
    padding: 0px;
    margin: 0px;
    text-align: center;
}
nav ~ a{
    color: #f0ad4e;
}
.admin-container{
    padding: 30px;
    background-image: url(https://icdn2.digitaltrends.com/image/man-driving-in-car-in-the-city-ride-share-uber-lyft-getaround-zipcar-720x720.jpg?ver=1.jpg);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-attachment: fixed;
    background-origin: border-box;
    background-position: center center;
    background-size: cover;
    min-height: 100%;
}
.admin-container-for-width {
    max-width: 900px;
    margin: auto;
}
.btn{
    padding: 4px 5px;
}
@media screen and (max-width: 767px){

    .admin-container{
        padding: 20px 5px 0 5px;
    }
    .btn{
        padding: 2px;
    }
}
.table{
    opacity: .9;
    margin-top: 20px;
}



