@charset "UTF-8";
body{
    margin: 0px;
    padding: 0px;
    min-width: 416px;
    background-color: #c3b7d6;
}

.edit-container {
    margin: 0px;
    padding: 0px;
}

.container{
    padding: 20px;
    border-radius: 15px;
    /*opacity: 0.9;*/
}

/*navigation bar*/
.my-button-like-link {
    background:none!important;
    color:inherit;
    border:none;
    padding:0!important;
    font: inherit;
    /*border is optional*/
    cursor: pointer;
    margin-top: 15px;
    margin-left: 13px;
    color: white;
}
.navbar-expand-lg {
    border-radius: 0;
    margin-bottom: 0px;
}

/*login form*/
.my-login-form{
    background-color: #231919d9;
    padding: 40px 50px 20px 50px;
    border-radius: 10px;
    margin-top: 10%;
}
.my-login-form a{
    margin-left: 5px;
}
.fail-to-authorize{
    background-color: #7acce4d1;
    padding: 3px 5px;
    border-radius: 2px;
    text-decoration-color: darkred;
}

/*registration*/
.my-select-form{
    height: 45px;
}
.my-registration-form{
    margin-top: -15px;
}
@media screen and (max-width: 767px){
    .my-label-for-xs-resolution{
        display: none;
    }
}
.my-button-float-right{
    float: right;
}

.my-edit-info-form{
    background-color: black;
    padding: 10px;
    margin: 10px 0 10px -10px;
    max-width: 550px;
}

.my-edit-about-driver{
    background-color: #c3b7d6;
    padding: 10px 0;
}

.my-edit-about-car{
    padding: 10px 0;
    background-color: #a292b9;
}

.edit-for-picture{
    background-color: black;
    padding: 10px;
    color: white;
    margin: 10px 0 10px -10px;
    max-width: 550px;
}

.footer{
    background-color: #563d7c;
    padding: 40px 10%;
    color: white;
}

.info-about-driver-or-car {
    background-color: white;
    border: #b39898 solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.container-for-info-about-driver-or-car{
    background-color: #e9ebee;
    padding: 10px;
    margin: 10px -10px 0px 10px;
}






